<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head"></head>
  <body>
    <div th:unless="${session.user}">
      <a href="reg.html" th:href="@{/reg}">회원가입</a>
      <a href="login.html" th:href="@{/login}">로그인</a>
    </div>
    <div th:if="${session.user}">
      <p><span th:text="${session.user.id}" id="userid"></span>&nbsp;환영합니다.</p>
      <a href="#" th:href="@{/logout}">로그아웃</a>
    </div>
    <div id="noti"></div>
    <table>
      <tr>
        <th>제목</th>
        <th>내용</th>
        <th>글쓴이</th>
      </tr>
      <tr th:each="board : ${boardList}">
        <td th:text="${board.title}"></td>
        <td>
          <a href="board.html" th:href="@{'/board/' + ${board.id}}"
            ><span th:text="${board.content}"></span
          ></a>
        </td>
        <td th:text="${board.writer}"></td>
      </tr>
    </table>

    <script>
      var user = document.getElementById("userid");
      if (user) {
        var sock = new SockJS("/sample");
        var client = Stomp.over(sock);
        
        client.debug = null;

        client.connect({}, function() {
          client.subscribe("/topic/noti/" + user.innerText, function(data) {
            var message = JSON.parse(data.body);
            var noti = document.getElementById("noti");
            var newNotice = document.createElement("div");
            var h5 = document.createElement("h5");
            h5.innerText = "댓글이 달렸습니다."
            var p = document.createElement("p");
            p.innerText = message.writer + "님 " + message.content;
            newNotice.appendChild(h5);
            newNotice.appendChild(p);
            noti.appendChild(newNotice);

            setTimeout(function() {
              noti.removeChild(newNotice);
            }, 5000);
          });
        });
      }
    </script>
  </body>
</html>
